In [3]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\admin\anaconda3\envs\tamilvasan\lib\site-packages (1.2.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\admin\anaconda3\envs\tamilvasan\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\admin\anaconda3\envs\tamilvasan\lib\site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\admin\anaconda3\envs\tamilvasan\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\admin\anaconda3\envs\tamilvasan\lib\site-packages (from scikit-learn) (1.9.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from sklearn.impute import SimpleImputer

In [3]:
pip show sklearn

Name: sklearnNote: you may need to restart the kernel to use updated packages.

Version: 0.0.post1
Summary: deprecated sklearn package, use scikit-learn instead
Home-page:
Author:
Author-email:
License:
Location: c:\users\admin\anaconda3\envs\tamilvasan\lib\site-packages
Requires:
Required-by:

In [4]:
import pandas as pd

In [6]:
salary_info=pd.DataFrame({'salary':[10000,15000,12000,20000],'cat':['low','mid','low','high']})

In [7]:
salary_info

   salary   cat
0   10000   low
1   15000   mid
2   12000   low
3   20000  high

In [8]:
salary_info.cat.map({'low':1,'mid':2,'high':3})

0    1
1    2
2    1
3    3
Name: cat, dtype: int64